html{
  height: 100vh;
  font-family: Arial;
}

body{
  margin: 0px;
  height: 100vh;
}

p{
  margin: 0px;
}

.homepage{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 520px;
  background-image: url('http://www.qsconference.com/images/bg.jpg');
  background-size: cover;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-repeat: no-repeat;
}

.header{
  background-color: deepskyblue;
}

.headertext{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  order: 2;
  float: left;
  font-size: 24px;
  color: #15152b;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.5px;
}

.logo-container{
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  margin-left: 20px;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 60px;
  width: 60px;
}

.span{
  color: white;
  margin-left: 4px;
}

.navigation {
  list-style: none;
  margin: 0; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1.3em;
  color: white;
  text-align: right;
}

.navigation a:hover {
  background: #15152b;
}

.landing-page-top{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.landing-page-bottom{
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: center;
}

.theme{
  float: center;
  text-align: center;
  color: white;
  font-size: 42px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: arial;
}

.button {
  margin-bottom: 20px;
	font: 400 1.4em;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 2px;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s
}

.button:hover {
   background-color: deepskyblue;
   color: white;
}

.next-page{
  padding: 4em 1em;
  background-color: #f7f6ee;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.about-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.logo-container2{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: left;
  margin-right: 0px;
  margin-left: 20px;
}

.logo2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin-right: 0px;

}

.section-title{
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #3E2D77;
}

.section-subtitle{
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

.about-paragraphs{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin-right: 10px;
  margin-left: 10px; 
  color: #3E2D77;
  font-family: Arial;
}

.paragraphs{
  text-align: left;
  display: flex;
  font-size: 25px;
  flex-direction: row;
  justify-content: flex-start;
  display: block;
  -webkit-margin-after: 1em;
  -webkit-margin-before: 1em;
  color: black;
}

.s-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.subscribe-page{
 height: 15em;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 background-color: deepskyblue;
}

.subscribe{
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 font-size: 50px;
 text-transform: uppercase;
 text-align: center;
 color: white;
 width: 50%;
 margin-top: 0px;
 margin-bottom: 0px;
}

.subsribe-text{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: flex-end;
  text-align: right;
  text-transform: lowercase;
  margin-bottom: 20px;

}

.newsletter{
  display: flex;
 flex-direction: column;
 justify-content: flex-start;
 background-color: #2b3243;
 width: 50%
}

.text-form{
   visibility: visible;
  color: #89999a
}

.email{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-right: 20px;
  margin-left: 20px;
}

.footer{
  height: 234px;
  width: 100%;
  background-color: #f7f6ee;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.socialmedia{
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  justify-content: center;
  align-items: center;
}

.icons{
  text-decoration: none;
  color: #3b5998;
}

.media{
  color: gray;
  font-size: 20px;
}

.facebook-span{
  color: #3b5998;
  font-size: 20px;
}

.mail{
  color:deepskyblue;
  text-decoration: none;
}

.mail-span{
  color: deepskyblue;
  font-size:20px;
}

.mail-font{
  color: gray;
}

.insta-span{
  color: #551a8b;
  font-size: 20px;
}

.delegates-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 25%;
}

.delegates-container2{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 25%;
}

.delegates-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
}

.delegates-sub{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-transform: uppercase;
  color: gray;
  font-size: 10px;
}

.delegates-head{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-transform: uppercase;
  color: deepskyblue;
  font-size: 25px;
  font-weight: bold;
}

.paragraph{
  text-align: center;
  display: flex;
  font-size: 17px;
  flex-direction: row;
  justify-content: flex-start;
  display: block;
  -webkit-margin-after: 1em;
  -webkit-margin-before: 1em;
  color: black;
}

.apply{
  height: 250px;
  width: 100%;
  background-color: #f7f6ee;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.apply-text{
  text-transform: uppercase;
  color: deepskyblue;
  font-size: 25px;
  font-weight: bold;
}

.button2 {
  margin-bottom: 20px;
  font: 400 1.4em;
  cursor: pointer;
  background-color: deepskyblue;
  color: white;
  border: 2px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s
}

.button2:hover {
   background-color: white;
   color: black;
}